/*==================================================================================================================================================*/
/*     Version Mobile :   ------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 640px) {
	body{ 		background-image:url(../images/wood.jpg) 	}
	
	header{
        -webkit-border-top-left-radius: 20px;
        -moz-border-radius-topleft: 20px;
        border-top-left-radius: 20px;
        -webkit-border-top-right-radius:  20px;
        -moz-border-radius-topright: 20px;
        border-top-right-radius: 20px;
		width:100%;
        background-color: #fffafa;
        opacity: 0.4;
        margin-bottom: 20px;
	}

	
	header div{
		width:100%;
	}
	
	header div a img{
		margin:0 auto;
		width:30%;
		display:block;
	}

    #menu-tablet{ display: none;}
	nav{
		width:100%;
		text-align:center;
	}

    nav a{
        background:#444;
        background: -webkit-linear-gradient( #555, #F4F1E9);
        background:    -moz-linear-gradient( #555, #F4F1E9);
        background:     -ms-linear-gradient( #555, #F4F1E9);
        background:      -o-linear-gradient( #555, #F4F1E9);
        background:         linear-gradient( #555, #F4F1E9);
        text-transform: uppercase;
        font-size: 19px;
        text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
        box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
        0 -1px 0 rgba( 255, 255, 255, 0.4);
        margin:0 auto;
        display:block;
        text-decoration:none;
        padding:2.4%;
        color: #F4F1E9;
        border-bottom: 1px solid gray;
        top: 60px;
        border-radius: 3px 3px 3px 3px;
    }

    nav a:first-of-type{ border-top:1px solid gray; 	}
	
	nav a:link, nav a:visited {
		color:#000;
		background:blanc;
	}
	
	#image_accueil img{ width:100%;	}

    section{ padding-bottom: 20px;}
    section h1:nth-of-type(1){
        font-size: 130%;
        text-align: center;
        color: #93928f;
        font-family: 'Kaushan Script',cursive;
    }
    .ornamental-contact,
    section hr:nth-child(2),
    section hr:nth-child(4){ /*  hr.ornamental {*/
        background:url(../images/ornamental.png) center no-repeat;
        background-size:960px 21px;
        height:21px;
        width:100%;
        border:none;
        margin:50px 0 0 0;
        padding:0
    }
    #ornamental-contact{
        margin:45px 0 -5px 0;
    }
    section hr:nth-child(2){ margin:15px 0 -5px 0; }
    /*     section Text   Efect */
    .letter-container {
        position: absolute;
        margin: -20px 0 0 0;
        padding: 2px;
        height: 100px;
        text-align: center;
    }
    .letter-container h2 {
        text-align: center;
        letter-spacing: 1px;
    }
    .letter-container h2 a {
        text-decoration: none;
        text-align: center;
        font-size: 1.1em;
        line-height: 50px;
        display: block;
        padding-bottom: 30px;
        -webkit-mask: url(../images/mask.png) repeat;
        -o-mask: url(../images/mask.png) repeat;
        -moz-mask: url(../images/mask.png) repeat;
        -ms-mask: url(../images/mask.png) repeat;
        mask: url(../images/mask.png) repeat;
    }
    .letter-container h2 a span {
        color: #fffafa;
        opacity: 1;
        text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        transition: all 0.3s linear;
        -webkit-animation: sharpen 0.9s linear backwards;
        -moz-animation: sharpen 0.9s linear backwards;
        -ms-animation: sharpen 0.9s linear backwards;
        animation: sharpen 0.9s linear backwards;
    }
    /*     section Text-Efect  FINICH----------------------------------------------------------------------------*/



    /* ----------------------  Agent-imobilier companier Div --------------------------------- */
    #director-img{
        width: 100px;
        height: 100px;
    }
    section div:nth-of-type(2){
        margin-top: 30px;
        background-color: #fffafa;
        width: 380px;
        height: 100px;
        -webkit-border-top-right-radius: 50px;
        -webkit-border-bottom-right-radius: 50px;
        -moz-border-radius-topright: 50px;
        -moz-border-radius-bottomright: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    section ul{
        margin: 0 0 0 -40px;
        list-style-type: none;
        width: 100%;
    }
    section ul li a{
        float: left;
        width: 29%;
        height: 100px;
    }
    section ul li h3{
        padding-top: 5px;
        color: #aa7112;
        font-size: 110%;
    }
    section ul li p{
        display: inline;
        color: red;
        font-size: 110%;
        font-family: 'Kaushan Script',cursive;
    }

    /*---------          text definition companie Respoication-sujet                  ------------------------------------------------------*/
    section h3{
        color: #7f0213;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    section h3:first-child,
    section h3:nth-of-type(3) {
        font-family: 'Kaushan Script',cursive;
        font-size: 25px;
    }
    section h3:nth-of-type(2),
    section h3:nth-of-type(4){
        font-size: 20px;
        font-style: italic;
    }

    /* =============================================================================
    ****   Footer Nav Icons   et Partier:                                     ******
       ========================================================================== */
    footer{
        width:100%;

        bottom: 0;

    }

    footer ul{
        margin-left:-40px;
        width: 100%;

    }
    /* telephon -----------------------------------Contactez-nous             ----------------------------------- */
    section article{
        -webkit-border-top-left-radius: 80px;
        -webkit-border-bottom-right-radius: 80px;
        -moz-border-radius-topleft: 80px;
        -moz-border-radius-bottomright: 80px;
        border-top-left-radius: 80px;
        border-bottom-right-radius: 80px;
        opacity: 0.55;
        width: 300px;
        height: 110px;
        margin: 30px auto;
        background-color: #b7bab5;
        padding: 2px;
    }
    section article div{
        margin: 20px auto;
        background: url("../images/telephone-t1348564888.png");
        width: 245px;
        height: 70px;

    }
    /*  Canvas     ..........................................................................................Mobile ........*/

    #demoCanvas, #debugCanvas {
        z-index: 1;
        width: 400px;
        height: 200px;
        margin-left: 20;

    }

    #debugCanvas {
        z-index: 2;
        display: none;
        position: absolute;
        left:0;
    }

    #demoCanvas {
        background:url(../images/dolar.jpg);
        border: 1px dotted #fffafa;
        -webkit-border-bottom-right-radius: 50px;
        -webkit-border-bottom-left-radius: 50px;
        -moz-border-radius-bottomright: 50px;
        -moz-border-radius-bottomleft: 50px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;

    }

    /*             Devloper Text *****************************************************************  */
    body div:nth-of-type(1){
        text-align: center;
        color: #57718e;
        margin-bottom: -20px;
    }

    body div span{
        width: 100%;
        text-align: center;
        display: inline;

    }
    iframe{margin-top: 50px; }
    /* ---------------------- reseauax   SOCIAL --------------------------------- */
    footer{
        width: 100%;
    }
    footer ol{
        list-style-type: none;

    }
    footer div:first-child{
        margin: 0 auto 0 auto;
        width: 100%;
        height: 60px;
    }

    footer div ol li{
        padding: 12px;
        float: left;
        width: 22%;
        height: 60px;
    }
    footer div ol li a img{
        display: block;
        margin: 5% auto 0 auto;
        width: 100%;
        height: 100%;
    }
    /*---------------------------------  nav FOOTER------------------------------------------------------*/

    footer ul li{
        opacity: 0.9;
        padding: 5px;
        border: 1px dotted #b7c5d3;
        width: 22%;
        height: 60px;
        background: url("../images/background.jpg");
        float: left;
        list-style-type: none;
        color: #EDE574;
        font-weight: bold;
   /*/     text-shadow: 0 -1px 1px #000000;*/
        text-align: center;
        background-image: url('../images/micro_carbon.png');
        /* background:#7e7c77;
         background: -webkit-linear-gradient( #4a4843, #8e8c87);
         background:    -moz-linear-gradient( #4a4843, #8e8c87);
         background:     -ms-linear-gradient( #4a4843, #8e8c87);
         background:      -o-linear-gradient( #4a4843, #c6c4bf);
         background:         linear-gradient( #4a4843, #8e8c87);
         text-transform: full-size-kana;*/
    }
    footer ul li:first-child{
        -webkit-border-top-left-radius: 15px;
        -moz-border-radius-topleft: 15px;
        border-top-left-radius: 15px;
    }
    footer ul li:last-child{
        -webkit-border-top-right-radius:  15px;
        -moz-border-radius-topright: 15px;
        border-top-right-radius: 15px;
    }
    footer div  ul li a{
        width: 100%;
        text-decoration: none;
        color: #f7b714;
    }

    footer div ul li a img{
        display: block;
        margin: 5% auto 0 auto;
        width: 27%;
        height: 55%;
    }
    footer div ul li a span{
        margin-top: -15px;
        font-size: 100%;
        text-decoration-color: #fffafa;
    }


    /* ============  Finish  Footer================================================================= */
    /********                                                                                             *************/
    /*   ---------------------------   Pages Contact ----------------------------------------------------------------*/
    section form{
        width: 100%;

    }
    div label{
        font-size: 17px;
        width: 30%;
        float: left;
        color: #670212;
        font-family: "Artifika";
    }

    div input:not(:last-child),
    div textarea{
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        font-size: 19px;
        padding: 3px;
        margin:  2px 0;
        color: #393939 ;
        font-style: italic;
        width: 65%;
        opacity: 0.2;
    }
    div input:not(:empty){ opacity: 0.9;}
    div input:focus,
    div textarea:focus{
        opacity: 1;
        color: #530211;
    }

    section input[type="reset"],
    section input[type="submit"]{
        width: 45%;
        float: right;
        background-color: #113848;
        font-size: 18px;
        padding: 7px;
        color: #fffafa;
        font-style: oblique;
    }
    section input[type="submit"]{
        -webkit-border-top-left-radius: 25px;
        -webkit-border-bottom-right-radius: 25px;
        -moz-border-radius-topleft: 25px;
        -moz-border-radius-bottomright: 25px;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        margin-top: 20px;
    }
    section input[type="reset"]{
        margin-top: 65px ;
        -webkit-border-top-left-radius: 25px;
        -webkit-border-bottom-right-radius: 25px;
        -moz-border-radius-topleft: 25px;
        -moz-border-radius-bottomright: 25px;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

}


/*==================================================================================================================================================*/
/* *************************************************************************************************************************************************/
/*                    Version Tablet                         ****************************************************************************************/
/*                                       Version tablet:     ****************************************************************************************/
/* *************************************************************************************************************************************************/
/*================================================================================================================================================*/

@media (min-width: 641px) and (max-width: 980px){
    body{ 		background-image:url(../images/background-bois3.jpg) 	}
	header{
		width:20%;
        height: 98px;
		background:white;
        background-color: #fffafa;
        -webkit-border-bottom-right-radius: 60px;
        -moz-border-radius-bottomright: 60px;
        border-bottom-right-radius: 60px;
        opacity: 0.6;
        margin-bottom: 10px;
        float: left;
        margin: -14px 0 0 -10px ;

	}
	header div a img{ margin: -15px auto 0 ;width:90px; height: 90px; 	}

  /*   Menu:-------------*/
    nav{ display: none;}
    #menu-tablet{ display: inline;}
    ul.sdt_menu{
        margin:0;
        padding:0;
        list-style: none;
        font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
        font-size:10px;
        width:100%;
        margin-top:-60px;
    }
    ul.sdt_menu a{
        text-decoration:none;
        outline:none;
    }
    ul.sdt_menu li{
        float:left;
        width:20%;
        height:85px;
        position:relative;
        cursor:pointer;
    }
    ul.sdt_menu li > a{
        position:absolute;
        top:0px;
        left:0px;
        width:20%;
        height:85px;
        z-index:12;
        background:transparent url(../images/overlay.png) no-repeat bottom right;
        -moz-box-shadow:0px 0px 2px #000 inset;
        -webkit-box-shadow:0px 0px 2px #000 inset;
        box-shadow:0px 0px 2px #000 inset;
    }
    ul.sdt_menu li a img{
        border:none;
        position:absolute;
        width:0px;
        height:0px;
        bottom:0px;
        left:55px;
        z-index:100;
        -moz-box-shadow:0px 0px 4px #000;
        -webkit-box-shadow:0px 0px 4px #000;
        box-shadow:0px 0px 4px #000;
        -webkit-border-top-left-radius: 65px;
        -moz-border-radius-topleft: 65px;
        border-top-left-radius: 65px;
    }
    ul.sdt_menu li span.sdt_wrap{
        position:absolute;
        top:0px;
        left:0px;
        width:20%;
        height:60px;
        z-index:15;
    }
    ul.sdt_menu li span.sdt_active{
        position:absolute;
        background:#111;
        top:85px;
        width:120px;
        height:0px;
        left:0px;
        z-index:14;
        -moz-box-shadow:0px 0px 4px #000 inset;
        -webkit-box-shadow:0px 0px 4px #000 inset;
        box-shadow:0px 0px 4px #000 inset;
    }
    ul.sdt_menu li span span.sdt_link,
    ul.sdt_menu li span span.sdt_descr,
    ul.sdt_menu li div.sdt_box a{
        margin-left:15px;
        text-transform:uppercase;
        text-shadow:1px 1px 1px #000;
    }
    ul.sdt_menu li span span.sdt_link{
        color:#fff;
        font-size:18px;
        float:left;
        clear:both;
    }
    ul.sdt_menu li span span.sdt_descr{
        color:#0B75AF;
        float:left;
        clear:both;
        width:90px; /*For dumbass IE7*/
        font-size:10px;
        letter-spacing:1px;
    }
    ul.sdt_menu li div.sdt_box{
        display:block;
        position:absolute;
        width:85px;
        overflow:hidden;
        height:150px;
        top:85px;
        left:-40px;
        display:none;
        background:#000;
    }
    ul.sdt_menu li div.sdt_box a{
        float:left;
        clear:both;
        line-height:30px;
        color:#0B75AF;
    }
    ul.sdt_menu li div.sdt_box a:first-child{
        margin-top:15px;
    }
    ul.sdt_menu li div.sdt_box a:hover{
        color:#fff;
    }

    /* ------------------- menu finich ------------------------------*/

    section>div>img{ display: none;}




    section h1:nth-of-type(1){
        font-size: 130%;
        text-align: center;
        color: #93928f;
        font-family: 'Kaushan Script',cursive;
    }

    section hr:nth-child(4){ /*  hr.ornamental {*/
        background:url(../images/ornamental.png) center no-repeat;
        background-size:100% 21px;
        height:21px;
        width:100%;
        border:none;
        margin:50px 0 0 0;
        padding:0
    }
    section hr:nth-child(2){ display: none; }
     /*  +++++++++++++++++++++   section Text   Efect        ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

    .letter-container {
        margin: 75px 0 0 50px;
        padding: 2px;
        height: 100px;
    }
    .letter-container h2 {
        text-align: center;
        letter-spacing: 1px;
    }
    .letter-container h2 a {
        text-decoration: none;
        text-align: center;
        font-size: 32px;
        line-height: 50px;
        display: block;
        padding-bottom: 30px;
        -webkit-mask: url(../images/mask.png) repeat;
        -o-mask: url(../images/mask.png) repeat;
        -moz-mask: url(../images/mask.png) repeat;
        -ms-mask: url(../images/mask.png) repeat;
        mask: url(../images/mask.png) repeat;
    }
    .letter-container h2 a span {
        color: white;
        opacity: 1;
        text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        transition: all 0.3s linear;
        -webkit-animation: sharpen 0.9s linear backwards;
        -moz-animation: sharpen 0.9s linear backwards;
        -ms-animation: sharpen 0.9s linear backwards;
        animation: sharpen 0.9s linear backwards;
    }
    /*     section Text   Efect  FINICH----------------------------------------------------------------------------*/

    /*     Slider                           ---------------------------------------------------------------------------*/



    /*   finish - Slider                           ---------------------------------------------------------------------------*/

    /* ----------------------  Agent-imobilier companier Div --------------------------------- */
    #director-img{
       width: 100px;
       height: 100px;
   }
    section div:nth-of-type(2){
        background-color: #fffafa;
        width: 55%;
        height: 100px;
        margin-top: 30px;
        margin-left: -9px;
        -webkit-border-top-right-radius: 50px;
        -webkit-border-bottom-right-radius: 50px;
        -moz-border-radius-topright: 50px;
        -moz-border-radius-bottomright: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    section ul{
        margin: 0 0 0 -40px;
        list-style-type: none;
        width: 100%;
    }
    section ul li a{
        float: left;
        width: 29%;
        height: 100px;
    }
    section ul li h3{
        padding-top: 5px;
        color: #aa7112;
        font-size: 110%;
    }
    section ul li p{
        display: inline;
        color: red;
        font-size: 110%;
        font-family: 'Kaushan Script',cursive;
    }
    /* telephon -----------------------------------Contactez-nous             ----------------------------------- */
    section article div{
        position: absolute;
        right: 10px;
        top:240px;
        background: url("../images/telephone-t1348564888.png");
        width: 245px;
        height: 70px;

    }

    /*---------          TEXT Definition companie Respoication-sujet                  ------------------------------------------------------*/
    section h3{
        color: #fffafa;
        text-align: center;
        width: 80%;
        margin: 0px auto;
    }
    section h3:first-child,
    section h3:nth-of-type(3) {
        font-family: 'Kaushan Script',cursive;
        font-size: 25px;
        margin-top: 25px;
    }
    section h3:nth-of-type(2),
    section h3:nth-of-type(4){
        font-size: 20px;
        font-style: italic;
    }

    /*  Canvas     ..................................................................................................*/
    #demoCanvas, #debugCanvas {
        z-index: 1;
        width: 400px;
        height: 300px;
        margin-left:200px;
    }

    #debugCanvas {
        z-index: 2;
        display: none;
        position: absolute;
        left:0;
    }

    #demoCanvas {
        background:url(../images/dolar.jpg);
        border: 1px dotted #fffafa;
        -webkit-border-bottom-right-radius: 50px;
        -webkit-border-bottom-left-radius: 50px;
        -moz-border-radius-bottomright: 50px;
        -moz-border-radius-bottomleft: 50px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;

    }

    /*             Devloper Text *****************************************************************  */
    body div:nth-of-type(1){

        text-align: center;
        color: #e2bc3a;
        margin: 20px 0 80px 0 ;
        bottom: 0;
    }

    body div span{
        width: 100%;
        text-align: center;
        display: inline;

    }


    /* =============================================================================
       Footer Nav Icons   et Partier:
       ========================================================================== */
    footer{
        width:100%;
        margin: 0 auto 0 auto ;
        position: fixed;
        bottom: 0;

    }

    footer ul{
        width: 100%;
    }
    /* ---------------------- reseauax   SOCIAL --------------------------------- */

    footer ol{
        list-style-type: none;
        width: 90px;
        position: absolute;
        right: 0;
        bottom: 80px;
    }
    footer div:first-child{
        display: block;
        width: 100%;
        height: 60px;
        float: right;
    }

    footer div ol li{
        padding: 2px;
        width: 20%;
        height: 60px;
    }
    footer div ol li a img{
        display: block;
        margin: 5% 0;
        width: 60px;
        height: 60px;
    }
    /*---------------------------------  nav FOOTER------------------------------------------------------*/
    footer ul{
        width: 100%;
        margin:0 0  0 100px ;
    }
    footer ul li{
        opacity: 0.9;
        padding: 5px;
        border: 1px dotted #b7c5d3;
        width: 15%;
        height: 60px;
        background: url("../images/background.jpg");
        float: left;
        list-style-type: none;
        color: #EDE574;
        font-weight: bold;
        /*/     text-shadow: 0 -1px 1px #000000;*/
        text-align: center;
        background-image: url('../images/micro_carbon.png');
       /* background:#7e7c77;
        background: -webkit-linear-gradient( #4a4843, #8e8c87);
        background:    -moz-linear-gradient( #4a4843, #8e8c87);
        background:     -ms-linear-gradient( #4a4843, #8e8c87);
        background:      -o-linear-gradient( #4a4843, #c6c4bf);
        background:         linear-gradient( #4a4843, #8e8c87);
        text-transform: full-size-kana;*/
    }
    footer ul li:first-child{
        -webkit-border-top-left-radius: 15px;
        -moz-border-radius-topleft: 15px;
        border-top-left-radius: 15px;
    }
    footer ul li:last-child{
        -webkit-border-top-right-radius:  15px;
        -moz-border-radius-topright: 15px;
        border-top-right-radius: 15px;
    }
    footer div  ul li a{
        width: 100%;
        text-decoration: none;
        color: #f7b714;
    }

    footer div ul li a img{
        display: block;
        margin: 1% auto 0 auto;
        width: 20%;
        height: 55%;
    }
    footer div ul li a span{
        margin-top: -15px;
        font-size: 100%;
        text-decoration-color: #fffafa;
    }

    /* Pages Contact                    ----------------------------------------------------------------------------*/
    #container-contact{
        margin: 0 auto 0 auto;
        width: 500px;
        height: 300px;
        background-color: #ffff00;
    }
    #container-contact  form label{
        width: 60px;
        text-align: left;
        padding: 20px;
    }
    #container-contact form input{
        width: 250px;
        float: right;

    }

    #container-contact iframe {
        margin: 30px 0 60px 0;
    }
}


/*==================================================================================================================================================*/
/* *************************************************************************************************************************************************/
/*                     Desctop                         ****************************************************************************************/
/*                                       Version Desctop :     ****************************************************************************************/
/* *************************************************************************************************************************************************/
/*================================================================================================================================================*/
@media (min-width: 980px){
 	body{ 		background-image:url(../images/wood.jpg); width: 100%; 	}
    header{
        -webkit-border-bottom-left-radius: 35px;
        -moz-border-radius-bottomleft: 35px;
        border-bottom-left-radius: 35px;
        width:682px;
        background-color: #fffafa;
        opacity: 0.4;
        position: absolute;
        top:88px;
        right:0;
    }
    header div{
        width:675px;

    }

    header div a img{
        margin:0 auto;
        width:100px;
        height: 100%;
        display:block;
    }
    /*   Menu:-------------*/
    nav{ display: none;}
    #menu-tablet{
        display: inline;
        float: right;
        width: 675px;


    }
    ul.sdt_menu{
        margin:-163px 0 0 0;
        padding:0;
        list-style: none;
        font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
        font-size:14px;
        width:1020px;
    }
    ul.sdt_menu a{
        text-decoration:none;
        outline:none;
    }
    ul.sdt_menu li{
        float:left;
        width:170px;
        height:85px;
        position:relative;
        cursor:pointer;
    }
    ul.sdt_menu li > a{
        position:absolute;
        top:0px;
        left:0px;
        width:170px;
        height:85px;
        z-index:12;
        background:transparent url(../images/overlay.png) no-repeat bottom right;
        -moz-box-shadow:0px 0px 2px #000 inset;
        -webkit-box-shadow:0px 0px 2px #000 inset;
        box-shadow:0px 0px 2px #000 inset;
    }
    ul.sdt_menu li a img{
        border:none;
        position:absolute;
        width:0px;
        height:0px;
        bottom:0px;
        left:85px;
        z-index:100;
        -moz-box-shadow:0px 0px 4px #000;
        -webkit-box-shadow:0px 0px 4px #000;
        box-shadow:0px 0px 4px #000;
    }
    ul.sdt_menu li span.sdt_wrap{
        position:absolute;
        top:25px;
        left:0px;
        width:170px;
        height:60px;
        z-index:15;
    }
    ul.sdt_menu li span.sdt_active{
        position:absolute;
        background:#111;
        top:85px;
        width:170px;
        height:0px;
        left:0px;
        z-index:14;
        -moz-box-shadow:0px 0px 4px #000 inset;
        -webkit-box-shadow:0px 0px 4px #000 inset;
        box-shadow:0px 0px 4px #000 inset;
    }
    ul.sdt_menu li span span.sdt_link,
    ul.sdt_menu li span span.sdt_descr,
    ul.sdt_menu li div.sdt_box a{
        margin-left:15px;
        text-transform:uppercase;
        text-shadow:1px 1px 1px #000;
    }
    ul.sdt_menu li span span.sdt_link{
        color:#fff;
        font-size:24px;
        float:left;
        clear:both;
    }
    ul.sdt_menu li span span.sdt_descr{
        color:#0B75AF;
        float:left;
        clear:both;
        width:155px; /*For dumbass IE7*/
        font-size:10px;
        letter-spacing:1px;
    }
    ul.sdt_menu li div.sdt_box{
        display:block;
        position:absolute;
        width:170px;
        overflow:hidden;
        height:170px;
        top:85px;
        left:0px;
        display:none;
        background:#000;
    }
    ul.sdt_menu li div.sdt_box a{
        float:left;
        clear:both;
        line-height:30px;
        color:#0B75AF;
    }
    ul.sdt_menu li div.sdt_box a:first-child{
        margin-top:15px;
    }
    ul.sdt_menu li div.sdt_box a:hover{
        color:#fff;
    }

    /* ------------------- menu finich ------------------------------*/
    section>div>img{ display: none;}

    section h1:nth-of-type(1){
        font-size: 130%;
        text-align: center;
        color: #93928f;
        font-family: 'Kaushan Script',cursive;
    }
    section hr:nth-child(2),
    section hr:nth-child(4){ /*  hr.ornamental {*/
        background:url(../images/ornamental.png) center no-repeat;
        background-size:1000px 21px;
        height:21px;
        width:100%;
        border:none;
        margin:0;
        padding:0
    }
    section hr:nth-child(2){display: none; }
    /*  +++++++++++++++++++++   section Text   Efect        ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
    .letter-container {
        margin: 165px 0 0 40px;
        padding: 2px;
        height: 100px;
    }
    .letter-container h2 {
        text-align: center;
        letter-spacing: 1px;
    }
    .letter-container h2 a {
        text-decoration: none;
        text-align: center;
        font-size: 42px;
        line-height: 50px;
        display: block;
        padding-bottom: 30px;
        -webkit-mask: url(../images/mask.png) repeat;
        -o-mask: url(../images/mask.png) repeat;
        -moz-mask: url(../images/mask.png) repeat;
        -ms-mask: url(../images/mask.png) repeat;
        mask: url(../images/mask.png) repeat;
    }
    .letter-container h2 a span {
        color: #fffafa;
        opacity: 1;
        text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0,0,0,0.7);
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        transition: all 0.3s linear;
        -webkit-animation: sharpen 0.9s linear backwards;
        -moz-animation: sharpen 0.9s linear backwards;
        -ms-animation: sharpen 0.9s linear backwards;
        animation: sharpen 0.9s linear backwards;
    }
    /*     section Text   Efect  FINICH----------------------------------------------------------------------------*/
    /*      Agent imobilier                          --------------------------------------------------------------------*/


    /* ----------------------  Agent-imobilier companier Div --------------------------------- */

   #director-img{
       width: 100px;
       height: 100px;
   }
    section div:nth-of-type(2){
        background-color: #fffafa;
        width: 350px;
        height: 100px;
        margin-top: 30px;
        margin-left: -9px;
        -webkit-border-top-right-radius: 50px;
        -webkit-border-bottom-right-radius: 50px;
        -moz-border-radius-topright: 50px;
        -moz-border-radius-bottomright: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    section ul{
        margin: 0 0 0 -40px;
        list-style-type: none;
        width: 100%;
    }
    section ul li a{
        float: left;
        width: 29%;
        height: 100px;
    }
    section ul li h3{
        padding-top: 5px;
        color: #aa7112;
        font-size: 110%;
    }
    section ul li p{
        display: inline;
        color: red;
        font-size: 110%;
        font-family: 'Kaushan Script',cursive;
    }
    /* telephon -----------------------------------Contactez-nous             ----------------------------------- */

    section article div{
        position: fixed;
        left: 10px;
        top:5px;
        background: url("../images/telephone-t1348564888.png");
        width: 245px;
        height: 70px;

    }

    /*---------          text definition companie Respoication-sujet                  ------------------------------------------------------*/
    section h3{
        color: #7f0213;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    section h3:first-child,
    section h3:nth-of-type(3) {
        font-family: 'Kaushan Script',cursive;
        font-size: 25px;
    }
    section h3:nth-of-type(2),
    section h3:nth-of-type(4){
        font-size: 20px;
        font-style: italic;

    }



    /*                   Slider                                        ----------------------------------------------*/


    /*  Canvas     ..................................................................................................*/

    #demoCanvas, #debugCanvas {
        z-index: 1;
        width: 600px;
        height: 350px;
        margin-left:480px;

    }

    #debugCanvas {
        z-index: 2;
        display: none;
        position: absolute;
        left:0;
    }

    #demoCanvas {
        background:url(../images/dolar.jpg);
        border: 1px dotted #fffafa;
        -webkit-border-bottom-right-radius: 100px;
        -webkit-border-bottom-left-radius: 100px;
        -moz-border-radius-bottomright: 100px;
        -moz-border-radius-bottomleft: 100px;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;

    }
    /*             Devloper Text *****************************************************************  */
    body div:nth-of-type(1){

        text-align: center;
        color: #ff0000;
        margin: 20px 0 0 0 ;
        bottom: 0;
    }

    body div span{
        width: 100%;
        text-align: center;
        display: inline;

    }
    iframe{margin-top: 50px; }


    /* =============================================================================
      Footer Nav Icons   et Partier:
      ========================================================================== */
    footer{
        width:100%;
        background-image: url('../images/micro_carbon.png');
        margin: 0 auto -20px auto ;

    }

    footer ul{
        width: 100%;
    }
    /* ---------------------- reseauax   SOCIAL --------------------------------- */

    footer ol{
        list-style-type: none;
        width: 90px;
        position: absolute;
        right: 0;
        bottom: 130px;
    }
    footer div:first-child{
        display: block;
        width: 100%;
        height: 60px;
        float: right;
    }

    footer div ol li{
        padding: 2px;
        width: 20%;
        height: 60px;
    }
    footer div ol li a img{
        display: block;
        margin: 5% 0;
        width: 60px;
        height: 60px;
    }
    /*---------------------------------  nav FOOTER------------------------------------------------------*/
    footer div:not(:first-child){
        width: 900px;
        position: relative;
        bottom: 0;
        left: 27%;
    }
    footer ul{
        width: 100%;

    }
    footer ul li{
        opacity: 0.9;
        padding: 5px;
        border: 1px dotted #b7c5d3;
        width: 15%;
        height: 60px;
        float: left;
        list-style-type: none;
        color: #EDE574;
        font-weight: bold;
        /*/     text-shadow: 0 -1px 1px #000000;*/
        text-align: center;
        background-image: url('../images/micro_carbon.png');
        /* background:#7e7c77;
         background: -webkit-linear-gradient( #4a4843, #8e8c87);
         background:    -moz-linear-gradient( #4a4843, #8e8c87);
         background:     -ms-linear-gradient( #4a4843, #8e8c87);
         background:      -o-linear-gradient( #4a4843, #c6c4bf);
         background:         linear-gradient( #4a4843, #8e8c87);
         text-transform: full-size-kana;*/
    }
    footer ul li:first-child{
        -webkit-border-top-left-radius: 15px;
        -moz-border-radius-topleft: 15px;
        border-top-left-radius: 15px;
    }
    footer ul li:last-child{
        -webkit-border-top-right-radius:  15px;
        -moz-border-radius-topright: 15px;
        border-top-right-radius: 15px;
    }
    footer div  ul li a{
        width: 100%;
        text-decoration: none;
        color: #f7b714;
    }

    footer div ul li a img{
        display: block;
        margin: 1% auto 0 auto;
        width: 20%;
        height: 55%;
    }
    footer div ul li a span{
        margin-top: -15px;
        font-size: 100%;
        text-decoration-color: #fffafa;
    }

/*-------------             Pages Contact    ----------------------------------------------------------------------------*/

    #container-contact{
        width: 500px;
        margin: 165px auto 0 auto ;
        padding-top: 50px;
    }
    #ornamental-contact {

        margin-top: 60px;
    }
    #container-contact form label{
        width: 100px;
        text-align: left;
    }
    #container-contact form input{
        width: 250px;
    }
    #container-contact form input{

    }




}/*------------------------------------------------------ @media querry termine ----------------------------------------------*/
/*   Variable Global --------------------------------------------------------------------------------------------------------*/

.clearFix{  clear:both;}
#reset:active{

}


